{% extends 'base.html.twig' %}

{% block body %}
    <h1>Chat</h1>
    <div id="chat-messages" class="mb-5">
        {% for chatMessage in chatMessages %}
            <div
                {% if app.user and app.user == chatMessage.author %}
                    class="d-flex justify-content-end"
                {% else %}
                    class="d-flex"
                {% endif %}
            >
                {% if is_granted('ROLE_MODERATOR') or is_granted('ROLE_ADMIN') or (app.user and chatMessage.author and chatMessage.author == app.user)%}
                    <div class="chat-block">
                        {{ include('chatMessage/delete.html.twig') }}
                    </div>
                {% endif %}

                {% if (is_granted('ROLE_MODERATOR') or is_granted('ROLE_ADMIN')) and chatMessage.author and not chatMessage.author.isBlocked %}
                    <div class="chat-block">
                        <a href="{{ path('user_block', { 'id': chatMessage.author.id }) }}" style="background: white;border: none;color: red;">
                            <i class="fas fa-ban"></i>
                        </a>
                    </div>
                {% endif %}

                {% if is_granted('ROLE_USER') and chatMessage.author and app.user == chatMessage.author %}
                    <div class="chat-block">
                        <button onclick="toggleForm('{{ chatMessage.id }}')"
                                style="background: white;border: none;color: red;">
                            <i class="fas fa-pencil"></i>
                        </button>
                    </div>
                {% endif %}

                <div
                    {% if app.user and app.user == chatMessage.author %}
                        class="chat-block my-chat-message"
                    {% else %}
                        class="chat-block chat-message"
                    {% endif %}
                >
                    {% if chatMessage.author and not chatMessage.author.isBlocked %}
                        <div class="chat-author-username">{{ chatMessage.author.username }}</div>
                    {% elseif chatMessage.author and chatMessage.author.isBlocked %}
                        <div class="chat-author-username blocked-user">{{ chatMessage.author.username }} [BLOCKED]</div>
                    {% else %}
                        <div class="chat-author-username deleted-user">[DELETED USER]</div>
                    {% endif %}

                    {% if chatMessage.imageFileName %}
                        <div class="chat-message-image-container">
                            <img class="chat-message-image" src="{{ asset('uploads/chat_images/' ~ chatMessage.imageFileName) }}" alt="{{ chatMessage.imageFileName }}">
                        </div>
                    {% endif %}

                    {% if chatMessage.text %}
                        <div name="{{ chatMessage.id }}">{{ chatMessage.text }}</div>
                    {% endif %}

                    {% if is_granted('ROLE_USER') and chatMessage.author and app.user.username == chatMessage.author.username %}
                        <div id="{{ chatMessage.id }}" style="display: none">
                            {{ render(path('message_edit', { 'id': chatMessage.id })) }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>

    {% if is_granted('ROLE_USER') %}
        {{ render(path('message_new')) }}
    {% endif %}
{% endblock %}
